.card__image-src {
  max-width: 150px;
}
.best__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
}
h1 {
  font-size: 48px;
  display: flex;
  justify-content: center;
  padding-block: 60px;
}
.bascet {
  position: fixed;
  display: flex;
  gap: 15px;
  justify-content: end;
  top: 50px;
  right: 10%;
}
.best__salling {
  position: relative;
}

.buttons__show:hover {
  .show {
    transform: scale(1.2);
  }
}
