body {
  font-family: var(--font-family-base);
  font-size: var(--main-size);
  color: var(--color-dark);
  background-color: var(--color-light);
}
* {
  border: 0;
  // outline: 1px solid green !important;
}

.container {
  max-width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;

  @include desktop {
    max-width: 1024px;
  }
  @include tablet {
    max-width: 830px;
  }
  @include mobile {
    max-width: 610px;
  }
  @include mobile-s {
    width: 361px;
  }
}

.none {
  display: none !important;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
