@font-face {
  font-family: "pMedium";
  src: url("./../fonts/AnyConv.com__Poppins-Medium.woff") format("woff"),
    url("./../fonts/AnyConv.com__Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "pRegular";
  src: url("./../fonts/AnyConv.com__Poppins-Regular.woff") format("woff"),
    url("./../fonts/AnyConv.com__Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pSemiBold";
  src: url("./../fonts/AnyConv.com__Poppins-SemiBold.woff") format("woff"),
    url("./../fonts/AnyConv.com__Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
